
<footer>
    <p>This web page uses the OpenWeather Geocoding and Open Weather Map APIs</p>
    <p>The content on this page is for Homework 3 CST336 at California State University Monterey Bay</p>
</footer>